<!DOCTYPE html>
<html>

<head>
  <% include ../partials/admin/head %>
</head>

<body class="bg-light">
  <header>
    <% include ../partials/admin/header %>
  </header>

  <main role="main" class="container">
    <section class="jumbotron text-left">
      <div class="container">
        <h2>Change Password</h2>
        <div class="alert alert-dark" role="alert">
          To change your password, please enter your existing password and then the new password, confirming the new password.
        </div>
        <% if (typeof success != 'undefined' && Object.keys(errors).length == 0) { %>
          <div class="alert alert-success" id="success" role="alert">Password updated successfully</div>
        <% } %>
        <% if (Object.keys(errors).length == 1 && errors['error']) { %>
          <div class="alert alert-warning" id="error" role="alert"><%= errors['error'] %></div>
        <% } %>
        <form action="<%= url('change_password') %>" method="post" class="needs-validation" novalidate>
          <div class="form-group">
            <label for="current_password">Current Password</label>
            <input type="password" id="current_password" name="current_password" value="<%= values['current_password'] %>" class="form-control <%= errors['current_password'] ? ' is-invalid' : '' %>" required/>
            <div class="invalid-feedback">
              Current password must be filled out.
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" value="<%= values['password'] %>" class="form-control <%= errors['password'] ? ' is-invalid' : '' %>" required/>
            <div class="invalid-feedback">
              Username must be filled out.
            </div>
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" value="<%= values['confirm_password'] %>" class="form-control <%= errors['confirm_password'] ? ' is-invalid' : '' %>" required/>
            <div class="invalid-feedback">
              Confirm Password must be filled out.
            </div>
          </div>
          <div>
            <input type="submit" value="Change" class="btn btn-primary"/>
          </div>
        </form>
      </div>
    </section>
  </main>
</body>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

<footer>
  <% include ../partials/footer	 %>
</footer>

</html>