<!DOCTYPE html>
<html>  
  <head>
      <% include ../partials/admin/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/admin/header %>
    </header>
      
      <main role="main" class="container">
        <section class="jumbotron text-left">
          <div class="row">
            <div class="col-sm-2">    
              <p>
                Username: <%= user.username %><br/>
              </p>
              <a href="<%= url('logout') %>">Log out</a>
            </div>
        
            <div class="col-sm-10">        
              <div class="well">
                <h3>Pub Crawls</h3>
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                  </thead>
                  <tbody>
                    <% documents.forEach(doc => { %>
                      <tr>
                        <td scope="row"><%= doc.name %></td>
                        <td scope="row"><%= doc.description %></td>
                        <td scope="row">
                          <a href="<%= url(`crawls/create/${doc._id}`) %>">[Edit]</a>
                          <% if (!doc.published) { %>
                            <a href="">[Publish]</a>
                          <% } %>
                        </td>
                      </tr>
                    <% }) %>
                    </tbody>
                </table>
              </div>
            </div>      
        </div>
      </section>
    </main>
  </body>
  
  <footer>
    <% include ../partials/admin/footer %>
  </footer>
</html>

