<!DOCTYPE html>
<html>  
  <head>
      <% include ../../partials/admin/head %>
  </head>

  <header>
    <% include ../../partials/admin/header %>
  </header>

  <body class="bg-light">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6 order-md-1">
          <% include ../../partials/admin/crawls/create_left_side %>
        </div>
        <div class="col-md-6 order-md-2 mb-4">
          <% include ../../partials/admin/crawls/create_right_side %>
        </div>
      </div>
    </div>
  </body>
  
  <footer>
    <% include ../../partials/admin/footer %>
      <script>
        $('#fromdate').datetimepicker({ uiLibrary: 'bootstrap4', footer: true, modal: true });
        $('#todate').datetimepicker({ uiLibrary: 'bootstrap4', footer: true, modal: true });
      </script>
    <% if (crawl._id != null) { %>
      <script>
        new AdminClient({
          accessToken: '<%= options.accessToken %>',
          mapDivId: 'mapid',
          id: '<%= crawl._id %>',
          url: '<%= url("crawls/pub") %>',
          pubs: <%- JSON.stringify(crawl.pubs) %>,
          searchPubs: <%- JSON.stringify(pubs) %>,
          location: <%- JSON.stringify(crawl.location || {}) %>,
          locationDistance: <%- crawl.locationDistance || 1000 %>
        }).setup();
      </script>
    <% } %>
  </footer>
</html>

