<!DOCTYPE html>
<html>  
  <head>
      <% include ../../partials/admin/head %>
  </head>

  <header>
    <% include ../../partials/admin/header %>
  </header>

  <body class="bg-light">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6 order-md-1">
          <% include ../../partials/admin/crawls/create_left_side %>
        </div>
        <div class="col-md-6 order-md-2 mb-4">
          <% include ../../partials/admin/crawls/create_right_side %>
        </div>
      </div>
    </div>
  </body>
  
  <footer>
    <% include ../../partials/admin/footer %>
      <script>
        $('#fromdate').datetimepicker({ uiLibrary: 'bootstrap4', footer: true, modal: true });
        $('#todate').datetimepicker({ uiLibrary: 'bootstrap4', footer: true, modal: true });
      </script>
    <% if (crawl._id != null) { %>
      <script>
        function setupAdminClient() {
          // Create map instance
          var leaflet = new Leaflet(
            'mapid', '<%= options.accessToken %>');
          var location = new GeoLocation();
          // Create ans setup our admin client
          new AdminClient(leaflet, location, {
            accessToken: '<%= options.accessToken %>',
            mapDivId: 'mapid',
            id: '<%= crawl._id %>',
            url: '<%= url("crawls/pub") %>',
            pubs: <%- JSON.stringify(crawl.pubs) %>,
            searchPubs: <%- JSON.stringify(pubs) %>,
            location: <%- JSON.stringify(crawl.location || {}) %>,
            locationDistance: <%- crawl.locationDistance || 1000 %>
          }).setup();
        }

        setupAdminClient();
      </script>
    <% } %>
  </footer>
</html>

