<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/mobile/head %>
  </head>

  <header>
    <% include ../partials/mobile/header %>
  </header>

  <body>
    <div class="container">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="true">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
            aria-controls="pills-profile" aria-selected="false">Sign Up</a>
        </li>
        
      </ul>
      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <% if (Object.keys(errors).length == 1 && errors['error']) { %>
            <div class="alert alert-warning" role="alert"><%= errors['error'] %></div>
          <% } %>
          <form action="<%= url(`login/${doc._id}`) %>" method="post" class="needs-validation" novalidate>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control<%= errors['username'] ? ' is-invalid' : '' %>" value="<%= values['username'] %>" placeholder="User name" required/>
              <div class="invalid-feedback">
                Username must be filled out.
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control<%= errors['password'] ? ' is-invalid' : '' %>" value="<%= values['password'] %>" placeholder="Password" required/>
              <div class="invalid-feedback">
                Password must be filled out.
              </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
          </form>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <% if (Object.keys(errors).length == 1 && errors['error']) { %>
            <div class="alert alert-warning" role="alert"><%= errors['error'] %></div>
          <% } %>
          <form action="<%= url(`join/${doc._id}`) %>" method="post" class="needs-validation" novalidate>
            <div class="form-group">
              <label>Name</label>
              <input type="text" id="join_name" name="name" class="form-control<%= errors['name'] ? ' is-invalid' : '' %>" value="<%= values['name'] %>" placeholder="Full name" required />
              <div class="invalid-feedback">
                Name must be filled out.
              </div>
            </div>
            <div class="form-group">
              <label>Username</label>
              <input type="text" id="join_username" name="username" class="form-control<%= errors['username'] ? ' is-invalid' : '' %>" value="<%= values['username'] %>" placeholder="User name" required/>
              <div class="invalid-feedback">
                Username must be filled out.
              </div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" id="join_password" name="password" class="form-control<%= errors['password'] ? ' is-invalid' : '' %>" value="<%= values['password'] %>" placeholder="User name" required/>
              <div class="invalid-feedback">
                Password must be filled out.
              </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
          </form>
        </div>
      </div>
  </body>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>

  <footer>
    <% include ../partials/mobile/footer %>
  </footer>
</html>